@colorPrimary: rgb(33, 41, 55);

.moa-roll * {
  box-sizing: border-box;
}

@sider-width: 100px;
.moa-roll {
  display: flex;
  color: rgb(44, 56, 68);
  align-items: flex-start;
}

.sider {
  display: flex;
  flex-direction: column;
  width: @sider-width;
}
.sider-item {
  display: flex;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  font-weight: bold;
}
.sider-item--active {
  color: white;
  background-color: @colorPrimary;
}

.content {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(235, 238, 241);
  border-left: none;
  max-height: 400px;
  max-width: 600px;
  overflow: auto;
}

.notes {
  display: flex;
  &__col {
    display: flex;
    flex-direction: column;
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
}
